/* ページ全体 */

* {
    margin:0;
    padding:0;
   }

h2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.all{
    display: flex;
    justify-content: center;
    text-align: left;
}

.qa_q p{
    margin: 48px 48px;
}

.qa_a div{
    margin: 48px 48px;
}

.btn_ch{
    display: flex;
    justify-content: center;
}

.btn_ch input{
    margin: 24px 100px;
}

#back_btn{
        width: 80px; 
        height: 35px;
        background-color:gray;
        color: white;
        border-radius:10px;
        border-style: none;
}

#submit_btn{
    width: 80px; 
    height: 35px;
    background-color:#BEA574;
    color: white;
    border-radius:10px;
    border-style: none;
  }

  @media screen and (max-width: 510px) {
    /* 570px以下に適用されるCSS */
    .btn_ch input{
        margin: 24px 30px;
    }

    .qa_q p{
        margin: 48px 10px;
    }
    
    .qa_a div{
        margin: 48px 10px;
    }
}

  @media screen and (max-width: 400px) {
    /* 570px以下に適用されるCSS */
    .btn_ch input{
        margin: 24px 30px;
    }

    h2{
        margin-top: 60px;
    }

    .qa_q p{
        margin: 48px 10px;
    }
    
    .qa_a div{
        margin: 48px 10px;
    }
}